<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fruct.oss.ikm"
    android:installLocation="auto"
    android:versionCode="12"
    android:versionName="0.2.5.1" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".PointsActivity"
            android:label="@string/title_activity_points"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="org.fruct.oss.ikm.POINT_ACTION" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fruct.oss.ikm.MainActivity" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".PointsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fruct.oss.ikm.PointsActivity" />
        </activity>
        <activity
            android:name=".OnlineContentActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fruct.oss.ikm.MainActivity" />
        </activity>

        <service
            android:name=".service.DirectionService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".appwidget.UpdateService"
            android:enabled="@bool/is_support_appwidget"
            android:exported="false" >
        </service>
        <service
            android:name=".appwidget.WidgetService"
            android:enabled="@bool/is_support_appwidget"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        <service
            android:name=".storage.RemoteContentService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".appwidget.RoadSignsWidgetProvider"
            android:enabled="@bool/is_support_appwidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/roadsigns_appwidget_info" />
        </receiver>

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fruct.oss.ikm.MainActivity" />
        </activity>
        <activity
            android:name=".HelpTabActivity"
            android:label="@string/title_activity_help_tab"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
